/*logo*/
#logo{
	width:1200px;
	margin:0 auto;
	padding:10px 0;
}

/*log_in*/
#log_in{
	width:100%;
	background: rgb(255, 178, 200);
}
.log_in{
	width:1200px;
	height:100%;
	margin:0 auto;
	padding:28px 0;
}
.log_in_right{
	width:307px;
	height:375px;
	padding:30px 34px;
	margin-left:20px;
	background: #fff;
	position:relative;
}
.log_in_right .log_in_top{
	width:307px;
}
.log_in_right .log_in_top h3:first-of-type{
	color:#000;
}
.log_in_right .log_in_top:after{
	content: "";
	height:0;
	display: block;
	clear: both;
}
.log_in_right .keyword_div{
	height:24px;
	margin:7px 0 2px;
	line-height: 24px;
	background: #fff;
}
.keyword_div div{
	display: none;
}
.log_in_right .keyword_div span:first-of-type{
	display: inline-block;
	height:14px;
	width:14px;
	border-radius: 50%;
	background: red;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color:#fff;
}
.log_in_right .keyword_div span:last-of-type{
	font-size: 12px;
	color:red;
}
.log_in_right .log_in_top h3{
	font-size: 16px;
	line-height: 16px;
	color:#0048FF;
	font-weight: 800;
}
.log_in_right>input:nth-of-type(1),.log_in_right>input:nth-of-type(2){
	width:265px;
	height:20px;
	padding:10px 30px 10px 10px;
	margin-bottom: 15px;
	border:1px solid #aaa;
}
.log_in_right i{
	font-size: 20px;
	position:absolute;
	top:88px;
	right:40px;
}
.log_in_right i:nth-of-type(2){
	top:142px;
	font-size: 24px;
}
.log_in_right>input:nth-of-type(1):after{
	content: "";
	height:20px;
	width:20px;
	display: inline-block;
}
.log_in_right>input:nth-of-type(3){
	width:96px;
	height:20px;
	padding:10px 30px 10px 10px;
	margin-bottom: 15px;
}
.log_in_right em{
	display: inline-block;
/*	width:86px;*/
	height:40px;
	margin-left:20px;
	font-size: 16px;
}

.log_in_right div:nth-of-type(3){
	height:14px;
	margin-bottom: 22px;
}
.log_in_right>input:nth-of-type(4){
	width:305px;
	height:41px;
	border:1px solid #089be8;
	background:#089be8 ;
	font-size: 16px;
	color:#fff;
}
.log_in_right>span{
	display: block;
	font-size: 14px;
	color:#aaa;
	margin:15px 0 8px;
}
.log_in_right li{
	float:left;
	margin-right: 10px;
}
.log_in:after{
	content: "";
	height:0;
	display: block;
	clear: both;
}
/*footer*/
#footer{
	width:100%;
}













.sideBar_right{
	position:fixed;
	right:10px;
	bottom:50px;
}
.sideBar_right div{
	height:50px;
	width:50px;
	text-align: center;
	margin:10px 0;
	background: #fff;
	border:#666 solid 1px;
}
.sideBar_right a div{
	height:50px;
	line-height: 50px;
	display: none;
}
.sideBar_right div i{
	font-size: 30px;
	color:#666;
}
.sideBar_right div:nth-of-type(2) ul{
	display: none;
	position:absolute;
	top:10px;
	left:-710px
}
.sideBar_right div:nth-of-type(2) ul li{
	float:left;
	border:1px solid #666;
	padding:10px;
	margin-left:10px;
	background: #fff;
}
.sideBar_right div:nth-of-type(2) ul li p{
	color:#000;
	margin-top:5px;
}